:root {
    --f-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


@media screen and (max-width: 425px) {
    body {
    font-size: calc(var(--f-size) + 0rem);
    }
}

@media screen and (min-width: 426px) {
    body {
    font-size: calc(var(--f-size) + 0.5rem);
    }
}

body {
    background-color: #252525;
    color: whitesmoke;
}

header {
    text-align: center;

    >h1 {
        font-weight: 200;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 425px) {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        >input {
            width: 70%;
        }
    }

    
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    >input {
        border: none;
        border-radius: 50rem;
        height: calc(var(--f-size) + 0.5rem);
        font-size: calc(var(--f-size) + 0.25rem);
        padding-left: 1rem;
    }
    > button {
        border: none;
        border-radius: 50rem;
        height: calc(var(--f-size) + 0.5rem);
        font-size: calc(var(--f-size) + 0.1rem);

        padding: 0 1rem;
    }

    > button:hover {
        filter: brightness(0.8);
        cursor: pointer;
    }
}

@media screen and (max-width: 425px) {
    .tarefasAtuais {
        width: 80%;
    }
}

@media screen and (min-width: 426px)  {
    .tarefasAtuais {
        width: 50%;
    }
}

.tarefasAtuais {
    margin: 1rem;
    padding: 1rem;  

    border: 1px solid white;
    border-radius: 1rem;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.31);

    >h2 {
        font-weight: 200;
    }
}

.taskCard {
    color: black;
    background-color: beige;
    border: none;

    border-radius: 0.25rem;
    width: 100%;

    margin: 0.5rem 0;
    padding-left: 1rem;
}

.taskCard:hover {
    filter: brightness(0.8);
    cursor: pointer;
}