:root {
    --f-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


@media screen and (max-width: 425px) {
    body {
        font-size: calc(var(--f-size) + 0rem);
    }

    header {
        letter-spacing: normal;
    }
}

@media screen and (min-width: 426px) {
    body {
        font-size: calc(var(--f-size) + 0.5rem);
    }

}

body {
    background-color: #ACBCE6;
    color: rgb(0, 0, 0);
}

header {
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.234);
    text-decoration: underline;
    letter-spacing: 1rem;
    background-color: white;

    margin-top: 1rem;

    >h1 {
        font-weight: 500;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 425px) {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        padding: 0.25rem;
        width: 80%;

        > label {
            font-size: calc(var(--f-size) + 1rem);
        }

        >input {
            width: 70%;
        }
    }
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin-top: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;

    padding: 1rem;

    background-color: whitesmoke;

    >input {
        border: 1px solid black;
        border-radius: 50rem;
        height: calc(var(--f-size) + 0.5rem);
        font-size: calc(var(--f-size) + 0.25rem);
        padding-left: 1rem;
    }

    >button {
        border: none;
        border-radius: 0.5rem;

        height: calc(var(--f-size) + 1rem);
        font-size: calc(var(--f-size) + 0.1rem);

        padding: 0 1rem;
        background-color: #6588E0;
    }

    >button:hover {
        filter: brightness(0.8);
        cursor: pointer;
    }
}

@media screen and (max-width: 425px) {
    .tarefasAtuais {
        width: 80%;
    }
}

@media screen and (min-width: 426px) {
    .tarefasAtuais {
        width: 50%;
    }
}

.tarefasAtuais {
    margin: 1rem;
    padding: 1rem;

    background-color: whitesmoke;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
    box-shadow: 0 1rem 10px 2px rgba(0, 0, 0, 0.31);

    >h2 {
        font-weight: 200;
    }
}

.taskCard {
    color: black;
    background-color: #6588E0;
    font-weight: 300;

    width: 100%;
    border: 1px solid black;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px 1px #25252570;

    margin: 1rem 0;
    padding-left: 1rem;
}

.taskCard:hover {
    filter: brightness(0.8);
    cursor: pointer;
}