:root {
    --f-size: 1rem;
    --black: #0C0C0D;
    --weak-black: #252526;
    --strong-gray: #3E3E40;
    --medium-gray: #737373;
    --light-gray: #A6A6A6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 426px) {
    body {
        font-size: calc(var(--f-size) + 0.5rem);
    }

}

body {
    background-color: var(--medium-gray);
}

header {
    
    
    > .page-title {
        text-align: center;
        background-image: linear-gradient(to right, var(--strong-gray), var(--medium-gray));
        color: var(--weak-black);
        font-weight: 500;
    }

    > .title-bottom-border {
        border: none;
        outline: none;
        height: 1px;
        background-image: linear-gradient(to right, var(--medium-gray),var(--strong-gray));
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 425px) {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        padding: 0.25rem;
        width: 80%;

        > label {
            font-size: calc(var(--f-size) + 1rem);
        }

        >input {
            width: 70%;
        }
    }
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin-top: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;

    padding: 1rem;

    background-color: whitesmoke;

    >input {
        border: 1px solid black;
        border-radius: 50rem;
        height: calc(var(--f-size) + 0.5rem);
        font-size: calc(var(--f-size) + 0.25rem);
        padding-left: 1rem;
    }

    >button {
        border: none;
        border-radius: 0.5rem;

        height: calc(var(--f-size) + 1rem);
        font-size: calc(var(--f-size) + 0.1rem);

        padding: 0 1rem;
        background-color: #6588E0;
    }

    >button:hover {
        filter: brightness(0.8);
        cursor: pointer;
    }
}


@media screen and (min-width: 426px) {
    .tarefasAtuais {
        width: 50%;
    }
}

.tarefasAtuais {
    width: 90%;

    margin: 1rem;
    padding: 0 1rem;

    background-color: var(--medium-gray);
    background-image: linear-gradient(to bottom, var(--light-gray), var(--medium-gray));
    border-radius: 2px;

    > .section-title {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 300;
    }
}

.taskCard {
    color: black;
    background-color: white;
    
    font-weight: 300;

    width: 100%;

    margin: 5px 0;
    padding-left: 1rem;
}

.taskCard::before {
    content: "> ";
}