:root {
    --f-size: 1rem;
    --black: #0C0C0D;
    --weak-black: #252526;
    --strong-gray: #3E3E40;
    --medium-gray: #737373;
    --light-gray: #A6A6A6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('../images/blurry_background.svg');
    background-size: cover;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .page-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-image: linear-gradient(to right, var(--medium-gray), var(--light-gray));

        >h1 {
            display: flex;
            align-items: center;
            font-weight: 500;
        }

        >h1::after {
            content: "";
            display: inline-block;
            width: 32px;
            height: 32px;
            background-image: url('../images/double_checkmark.svg');
            background-size: cover;
        }
    }

    .title-bottom-border {
        border: none;
        outline: none;
        width: 100%;
        height: 2px;
        background-image: linear-gradient(to right, var(--weak-black), var(--light-gray));
    }

}

.active-tasks {
    >h2 {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 90%;
        margin: 1rem 0;
        border-radius: 0 10px 10px 0;

        font-size: 1.5rem;
        font-weight: 500;

        background-color: whitesmoke;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.481);
    }

    >h2::after {
        content: "";
        display: inline-block;
        width: 22px;
        height: 22px;
        background-image: url('../images/arrow_down.svg');
        background-size: cover;

    }

    .tasks-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;

        .task-card {
            animation: fade-in 0.5s ease-in-out;
            display: flex;
            color: black;
            background-color: white;
            font-weight: 300;
            padding-left: 10px;
            border-radius: 2px;
            width: 90%;
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        .page-title {
            >h1 {
                font-size: 2rem;
            }

            >h1::after {
                width: 42px;
                height: 42px;
            }
        }
    }

    .active-tasks {
        width: 50%;
        margin: auto;

        >h2 {
            border-radius: 10px;
            margin: 1rem auto;
        }

        & .task-card {
            font-size: 1.25rem;      
        }

        & .task-card:hover {
            cursor: pointer;
        }
    }
}

.add-task-modal-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.312);

    width: 100%;
    height: 100%;

    >form {
        animation: grow 0.5s ease-in-out;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        width: 90%;

        border-radius: 0.5rem;
        padding: 1rem;

        background-color: rgb(255, 255, 255);

        >label {
            font-size: 2.25rem;
            font-weight: 500;
        }

        >input {
            padding-left: 5px;
            width: 100%;
            border: 1.5px solid black;
            font-size: 1.25rem;
        }

        >div {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 10px;

            >button {
                flex: 1;
                padding: 0.5rem;
                border-radius: 0.5rem;
                border: none;

                background-color: var(--strong-gray);
                color: white;

                font-size: 1.25rem;
                font-weight: 500;
                cursor: pointer;
            }

            >button:hover {
                filter: brightness(0.6);
            }
        }
    }
}


.info-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.312);

    .info-modal {
        animation: grow-fade-in 0.5s ease-in-out;
        background-color: rgb(255, 255, 255);

        border-radius: 0.5rem;
        padding: 1rem;
        width: 90%;

        .info-modal-top {
            display: flex;
            justify-content: space-between;

            >.close-button {
                background-image: url(../images/close_circle_x.svg);
                background-size: cover;

                border: none;
                border-radius: 100%;
                outline: none;

                background-color: transparent;

                width: 32px;
                height: 32px;
                font-size: 1.25rem;

                cursor: pointer;
            }
        }

        >p {
            line-height: 2rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .add-task-modal-container {
        >form {
            width: 50%;

            >input {
                font-size: large;
            }

            >div {
                flex-direction: row;
            }
        }
    }

    .info-modal-container {
        .info-modal {
            width: 50%;
        }
    }
}


footer {
    .info-button {
        background-image: url('../images/question_mark.svg');
        background-size: cover;

        position: fixed;
        bottom: 16px;
        left: 16px;

        width: 32px;
        height: 32px;

        border-radius: 50rem;
        border: 2px solid black;

        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.464);
    }

    .add-task-button {
        background-image: url('../images/plus.svg');
        background-size: cover;

        position: fixed;
        right: 16px;
        bottom: 16px;

        width: 32px;
        height: 32px;

        border-radius: 100%;
        border: 2px solid black;

        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.464);
    }
}

@media screen and (min-width: 768px) {
    footer {
        .info-button {
            width: 42px;
            height: 42px;
        }

        .add-task-button {
            width: 42px;
            height: 42px;
        }

        .info-button:hover, .add-task-button:hover {
            cursor: pointer;
        }
    }
}

@keyframes grow-fade-in {
    0% {
        opacity: 0;
        transform: scale(0);

    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes grow {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}